
<h1><%= @info %></h1>
<table class="table table-bordered">
	<tr>
		<td style="text-align:right;">
			<%= link_to "Previous", home_previous_path,:class => "btn btn-secondary btn-large" %>
		</td>
		<td style="text-align:center;">
			<%= link_to "Play", home_play_path, :class => "btn btn-primary btn-large" %>
		</td>
		<td style="text-align:center;">
			<%= link_to "Pause", home_pause_path, :class => "btn btn-primary btn-large" %>
		</td>
		<td style="text-align:left;">
			<%= link_to "Next", home_next_path, :class => "btn btn-secondary btn-large" %>
		</td>
	</tr>

</table>
